.captcha-image svg {
    width: 100% !important;
    height: auto !important;
    max-height: 80px;
}

.formDiv {
    margin: 5px 0;
}

.mdc-button__label {
    display: flex;
    align-items: center;
}

.loginHead {
    color: #000;
}